<!DOCTYPE html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
    <head>
        <!-- Common Header -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Common CSS -->
        <link th:inline="css" th:href="@{static/css/style.css}" rel="stylesheet">
        <link th:href="@{https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{static/image/favicon.ico}" rel="icon" type="image/x-icon">

        <!-- Common JS -->
        <!--<script th:inline="javascript" th:src="@{static/js/script.js}" type="text/javascript"/>-->

        <title>Finance Flow</title>
    </head>
</html>