<!DOCTYPE html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/defaultLayout}"
      layout:fragment="Content">
    <body>
        <div class="text">
            <form action="/user/insert" method="post">
                <div>
                    <div>
                        <input type="text" name="user_id" id="user_id" placeholder="ID">
                    </div><br>

                    <div>
                        <input type="password" name="user_pwd" id="user_pwd" placeholder="PASSWORD">
                    </div><br>

                    <div>
                        <input type="text" name="user_email" id="user_email" placeholder="E-Mail">
                    </div><br>
                    <button type="submit">회원가입</button>
                </div>
            </form>
        </div>
    </body>
</html>