<!DOCTYPE html>
<html lang="UTF-8"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/defaultLayout}"
      layout:fragment="Content">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style th:inline="css" type="text/css">
            body {
                margin: auto;
                width: 66%;
                border: 5px;
            }
        </style>
    </head>

    <body>
        <input type="date" id="date" name="date" value="" max="">
        <div id="dateInfo"></div>

        <div th:if="${List}">
            <table>
                <thead>
                    <tr>
                        <td>[작성자]</td>
                        <td>[카테고리]</td>
                        <td>[내용]</td>
                        <td>[단품 가격]</td>
                        <td>[갯수]</td>
                        <td>[전체 가격]</td>
                        <td>[날짜]</td>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="ob : ${List}">
                        <td><span th:text="${ob.author}"/></td>
                        <td><span th:text="${ob.category}"/></td>
                        <td><span th:text="${ob.content}"/></td>
                        <td><span th:text="${ob.unitPrice}"/></td>
                        <td><span th:text="${ob.quantity}"/></td>
                        <td><span th:text="${ob.totalPrice}"/></td>
                        <td><span th:text="${ob.date}"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

    <script>
        // 현재 날짜 가져오기
        var currentDate = new Date();

        // YYYY-MM-DD 형식으로 변환
        var formattedDate = currentDate.toISOString().split('T')[0];

        // input 요소의 max 속성에 현재 날짜 설정
        document.getElementById("date").setAttribute("max", formattedDate);
        document.getElementById("date").setAttribute("value", formattedDate);

        document.getElementById("date").addEventListener("input", function() {
            // input 요소에서 선택한 날짜 가져오기
            var selectedDate = this.value;

            // 선택한 날짜에 대한 Date 객체 생성
            var selectedDateObj = new Date(selectedDate);

            // 선택한 날짜에 대한 요일 가져오기
            var dayOfWeek = ['일', '월', '화', '수', '목', '금', '토'];
            var selectedDayOfWeek = dayOfWeek[selectedDateObj.getDay()];

            // 선택한 날짜에 대한 텍스트 표시
            var selectedFormattedText = selectedDateObj.getFullYear() + '년 ' + (selectedDateObj.getMonth() + 1) + '월 ' + selectedDateObj.getDate() + '일 ' + selectedDayOfWeek + '요일';
            document.getElementById("dateInfo").textContent = selectedFormattedText;
        });
    </script>
</html>